body{
    background:linear-gradient(to left, rgb(55, 101, 192), rgb(220, 170, 223));
    opacity: 0.99;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:rgb(8, 2, 2);
  }
 
  
  .container{
    display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
  }
    .form-box{
        width:380px;
        height:450px;
        background-color:black;
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.5;
        border-radius:2%;
    }
  .header-form{
    margin-bottom:35px;
  }
  
  .message{
    display:flex;
    justify-content:space-between
  }
  
  .logo-img{
    width:100px;
    height:100px;
    margin-left:120px;
    height: auto;
  }

  .text-center{
    margin-top: 1em;
    margin-right: 10%;
    text-align:center;
    color: aliceblue;
    
  }

  .input{
    border: 0;
		margin-bottom: 10px;
		padding: 15px;
		font-size: 1rem;
		font-family: Nunito, sans-serif;
		color: #000;
		border-radius: 5px;
  }